.second-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 80px 0;
}

.second-block__heading {
  margin: 0 auto;
}

.second-block__title {
  text-align: center;
}

.second-block__description {
  max-width: 680px;
  margin-top: 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;

  text-align: center;

  color: var(--black90);
}

.second-block__list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;

  margin-top: 70px;
}

.second-block__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 24px;
}

.second-block__list-title {
  margin: 0;

  font-weight: 900;
  font-size: 34px;

  line-height: 1;
  letter-spacing: -2px;

  text-align: center;
}

.second-block__list-description {
  margin-top: 12px;

  font-weight: 400;
  font-size: 18px;

  line-height: 24px;
  letter-spacing: -1px;

  text-align: center;

  color: var(--black80);
}

.second-block__list-img {
  margin-top: 1rem;

  width: 100%;
}

@media (min-width: 768px) {
  .second-block__list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .second-block__list {
    gap: 2rem;
  }
}
